/*
 *
 * Css of inner frame content
 */
.bottom_nav{
	display: inline-block;
	padding-bottom: 10px;
}
.bottom_nav>button{
	margin-left: 5px;
}
.navbar-header{
	display: inline-block;
}
.fullWidth{
	width: 100%;
}
.brand-logo{
    font-size: 1.5rem !important;
}
.btn {
    background-color: #282C34;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn:hover, .btn-large:hover {
  background-color: #3C424E;
}
.bg-panel{
    background-color: #21252B;
}
.bg-panel-heading{
    background-color: #3C424E;
}
body {
    background-color: #1B1D23;
}
